.container {
  display: grid;
  grid-template-columns: auto;
  justify-items: center;
  row-gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.item {
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 500px;
}

.label {
  padding: 0 1rem;
}

.button {
  display: inline-block;
  background: lightskyblue;
  letter-spacing: 0.1rem;
  margin: 1rem;
  cursor: pointer;
  font-size: large;
  width: fit-content;
}

.form {
  display: grid;
  background-color: ivory;
  grid-template-columns: auto;
  justify-items: center;
  row-gap: 2rem;
  margin: 1rem;
  padding: 1rem;
}

.input {
  margin: 1rem 1rem;
  padding: 0.2rem;
  font-size: 15px;
}
